<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="main">
    <h1>Quiz</h1>
    <div class="main2">
      <span class="gk">
        <a routerLink="./gk/gk.component"><img src="assets/images/1.jpg" alt="error">
        <h2>General Knoledge</h2></a>
      </span>
      <span class="gk">
        <a routerLink=""><img src="assets/images/2.jpg" alt="error">
        <h2>HTML</h2></a>
      </span>
      <span class="gk">
        <a routerLink=""><img src="assets/images/3.jpg" alt="error">
        <h2>CSS</h2></a>
      </span>
    
    
      <span class="gk">
        <a routerLink=""><img src="assets/images/4.jpg" alt="error">
        <h2>JavaScript</h2></a>
      </span>
      <span class="gk">
        <a routerLink=""><img src="assets/images/5.jpg" alt="error">
        <h2>Angular</h2></a>
      </span>
      <span class="gk">
        <a routerLink=""><img src="assets/images/6.jpg" alt="error">
        <h2>Git</h2></a>
      </span>
    </div>
  </div>

</body>

</html>

<router-outlet></router-outlet>
